<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.password">root</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/eblog?useUnicode=true&amp;characterEncoding=utf8&amp;useOldAliasMetadataBehavior=true</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>

		<property name="show_sql">true</property><!-- 是否后台打印语句 -->
		<mapping resource="hmbxml/BllArticle.hbm.xml" /><!--映射文件 -->
		<mapping resource="hmbxml/BllArticletype.hbm.xml" />
		<mapping resource="hmbxml/BllAttachment.hbm.xml" />
		<mapping resource="hmbxml/BllCommont.hbm.xml" />
		<mapping resource="hmbxml/SysUser.hbm.xml" />
		<mapping resource="hmbxml/BllCrawltask.hbm.xml" />
		<mapping resource="hmbxml/BllFavarticle.hbm.xml" />
		<mapping resource="hmbxml/BllFavuser.hbm.xml" />
		<mapping resource="hmbxml/BllPageinfo.hbm.xml" />
		<mapping resource="hmbxml/SysMenu.hbm.xml" />
		<mapping resource="hmbxml/SysRole.hbm.xml" />
		<mapping resource="hmbxml/SysUserRole.hbm.xml" />
		<mapping resource="hmbxml/SysRoleAuth.hbm.xml" />
		<mapping resource="hmbxml/BllSuggest.hbm.xml" />
	</session-factory>
</hibernate-configuration>
